<div class="container">
  <div class="epochs-section">
    <h3>
      1. Train a <strong class="highlight">TensorFlow.js</strong> model from
      scratch to recognize handwritten digits (0 to 9), Choose how many
      iteration <strong class="highlight">(epochs)</strong> you would like
    </h3>
    <p>
      <i
        >Note: The higher the number, the longer the training will be. In
        addition, I set a limit to 100 in this example.</i
      >
    </p>
    <input [(ngModel)]="epochs" type="number" />
    <button (click)="startTraining()">Start Model Training</button>
  </div>

  <div class="drawing-board">
    <h3>
      2. <strong class="highlight">Draw</strong> a number between
      <strong class="highlight">0</strong> to
      <strong class="highlight">9</strong>
    </h3>
    <div class="wrapper">
      <canvas appDrawable (newImage)="predict($event)"></canvas><br />
    </div>
    <button class="btn btn-lg btn-primary" (click)="clear()">Erase</button>
  </div>

  <div class="prediction">
    <h3>
      3. <span class="highlight">TensorFlow.js</span> Predicted Number:
      <strong class="highlight">{{ predictedNumber }}</strong>
    </h3>
  </div>
  <footer>
    <p>
      Made by
      <a class="highlight" href="http://aaronhma.com/" target="_blank"
        >Aaron Ma</a
      >
    </p>
  </footer>
</div>
